.fade-in-nav {
  animation: fadeInNav 1s;
}

.fade-out-nav {
  animation: fadeOutNav 1s;
}

.reduce-padding {
  animation: reducePadding 0.9s forwards;
}

@keyframes fadeInNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes fadeOutNav {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}

@keyframes reducePadding {
  from {
    padding-bottom: 2rem;
  }

  to {
    padding-bottom: 0;
  }
}