.form-parent {
  position: relative;
  /* margin-bottom: 1.5rem; */
}

.form-parent-filter {
  position: relative;
}

.form-parent-signature {
  position: relative;
}

.form-parent input {
  color: #767676;
  border: solid 1px #D9D9D9;
  transition: all .3s ease;
  padding: 0 15px;
}

.form-parent select {
  width: 100%;
  height: 100%;
  border: solid 1px #D9D9D9;
  transition: all .3s ease;
  padding: 0 15px;
  border-radius: 5px;
}

.form-parent-signature div {
  width: 100%;
  height: 100%;
  border: solid 1px #D9D9D9;
  transition: all .3s ease;
  padding: 0 15px;
  border-radius: 6px;
}

.form-parent input:focus {
  border-color: #D9D9D9;
}

.form-parent input:focus-visible {
  outline: unset;
}

.form-parent label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 35%;
  left: 10px;
  font-size: 12px;
  background: #fff;
  padding: 0 10px;
  color: #767676;
  transition: all .3s ease;
  pointer-events: none;
}

.form-parent input:focus+label,
.form-item input:valid+label {
  font-size: 12px;
  top: -8px;
}

.form-parent-filter label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: -8px;
  left: 10px;
  font-size: 12px;
  background: #fff;
  padding: 0 10px;
  color: #767676;
  transition: all .3s ease;
  pointer-events: none;
}

.form-parent-signature label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: -8px;
  left: 10px;
  font-size: 12px;
  background: #fff;
  padding: 0 10px;
  color: #767676;
  transition: all .3s ease;
  pointer-events: none;
}

.form-parent input:focus+label {
  color: #767676
}

.focused {
  top: -8px !important;
}

select {
  outline-color: #DA00FF !important;
}

select option {
  outline-color: transparent !important;
}