.swiper {
  width: 100%;
  height: 90%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/***** Landing swiper *****/
.swiper.landingSwiper {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}

.landingSwiper .swiper-pagination {
  bottom: 0 !important;
}

/***** End landing swiper *****/


/***** Certificate swiper *****/
.certificateSwiper .swiper-slide {
  display: unset;
  width: 100% !important;
}

.certificateSwiper .swiper-button-prev, .certificateSwiper .swiper-button-next {
  color: #767676;
  position: unset;
  height: unset;
  width: unset;
  margin: unset;
}

.certificateSwiper .swiper-button-next:after, .certificateSwiper .swiper-button-prev:after {
  font-size: 10px;
  color: #767676;
}

.certificateSwiper .swiper-pagination {
  position: unset;
}

/***** End certificate swiper *****/

/***** Claims swiper  *****/
.claimsSwiper .swiper-slide {
  display: unset;
  width: 100% !important;
}

.claimsSwiper .swiper-button-prev, .claimsSwiper .swiper-button-next {
  color: #767676;
  position: unset;
  height: unset;
  width: unset;
  margin: unset;
}

.claimsSwiper .swiper-button-next:after, .claimsSwiper .swiper-button-prev:after {
  font-size: 10px;
  color: #767676;
}

.claimsSwiper .swiper-pagination {
  position: unset;
}

.swiper-chevron {
  width: 8px !important;
}

/***** End claims swiper *****/

/***** Payment swiper *****/
.paymentSwiper .swiper-slide {
  display: unset;
  width: 100% !important;
}

.paymentSwiper .swiper-button-prev, .paymentSwiper .swiper-button-next {
  color: #767676;
  position: unset;
  height: unset;
  width: unset;
  margin: unset;
}

.paymentSwiper .swiper-button-next:after, .paymentSwiper .swiper-button-prev:after {
  font-size: 10px;
  color: #767676;
}

.paymentSwiper .swiper-pagination {
  position: unset;
}

.swiper-chevron {
  width: 8px !important;
}
/***** End payment swiper *****/

/***** Documents swiper *****/
.documentsSwiper .swiper-slide {
  display: unset;
  width: 100% !important;
}

.documentsSwiper .swiper-button-prev, .documentsSwiper .swiper-button-next {
  color: #767676;
  position: unset;
  height: unset;
  width: unset;
  margin: unset;
}

.documentsSwiper .swiper-button-next:after, .documentsSwiper .swiper-button-prev:after {
  font-size: 10px;
  color: #767676;
}

.documentsSwiper .swiper-pagination {
  position: unset;
}

.swiper-chevron {
  width: 8px !important;
}

/***** End documents swiper *****/