.certificate-content {
  overflow: hidden;
  transition: max-height .7s ease;
  max-height: 0;
}

.certificate-content.active {
  max-height: 800px;
}

/* Find out how to not trigger this unless if it's clicked! */
.certificate-padding {
  padding-bottom: 0;
  transition: padding-bottom .7s ease;
}

.certificate-padding.active {
  padding-bottom: 1.5rem;
}